@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mohave:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
    width: 100vw;
    font-family: Inter, sans-serif;
}

select {
    @apply border-neutral-400 bg-light-arrow-pattern font-Inter text-body text-neutral-900 hover:border-neutral-600 focus:border-secondary-600 disabled:bg-light-disabled-arrow-pattern dark:bg-dark-arrow-pattern dark:disabled:bg-dark-disabled-arrow-pattern;
}

select,
textarea,
input {
    @apply disabled:pointer-events-none disabled:border-gray-400 disabled:bg-gray-100 disabled:text-gray-400 dark:border-neutral-700 dark:bg-stone-800 dark:text-gray-300 dark:disabled:bg-stone-900 dark:disabled:text-stone-500;
}

.content-container {
    @apply max-w-[200rem] px-4 lg:px-12 2xl:px-12 3xl:px-56 4xl:px-[35rem] 5xl:px-[40rem];
}

.button-primary {
    @apply bg-primary-900 text-white dark:text-slate-50;
}
.button-secondary {
    @apply border-2 border-primary-900;
}

.button-24 {
    @apply px-4 py-[6px] font-Inter text-tiny font-semibold;
}
.button-48 {
    @apply px-20 py-3 font-Inter text-small font-semibold;
}

.input-text {
    @apply border border-neutral-400 font-Inter text-body text-neutral-900 placeholder:font-Inter placeholder:text-body placeholder:text-neutral-600 hover:border-neutral-600 focus:border-secondary-600;
}
.input-text-error {
    @apply border border-primary-400 font-Inter text-body text-neutral-900 placeholder:font-Inter placeholder:text-body placeholder:text-neutral-600 hover:border-primary-600 focus:border-secondary-600;
}
