@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mohave:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    @apply text-gray-900 dark:text-white;
}

.content-container {
    @apply mx-auto max-w-screen-3xl px-4;
}
