name: Deploy to dev

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build & Deploy
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/checkout@v4

      - name: Auth with GPR
        run: echo "//npm.pkg.github.com/:_authToken=${{secrets.GITHUB_TOKEN}}" > ~/.npmrc

      - name: Setup environment variables
        run: |
          echo "VITE_API_URL=${{ vars.API_URL_DEV }}" >> .env
          echo "VITE_CALLBACK_URL=${{ vars.CALLBACK_URL_DEV }}" >> .env
          echo "VITE_DISCORD_CLIENT_ID=${{ vars.DISCORD_CLIENT_ID_DEV }}" >> .env
          echo "VITE_DISCORD_SERVER_ID=${{ vars.DISCORD_SERVER_ID_DEV }}" >> .env
          echo "VITE_ENABLE_APM=${{ vars.ENABLE_APM_DEV }}" >> .env
          echo "VITE_APM_SERVER_URL=${{ vars.APM_SERVER_URL_DEV }}" >> .env
          echo "VITE_POSTHOG_TOKEN=${{ secrets.POSTHOG_TOKEN }}" >> .env

      - run: pnpm install
      - run: pnpm check
      - run: pnpm build:staging

      - name: Deploy to cloudflare
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: latest
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=client-portal-dev

      - name: Get package info
        id: package-info
        if: success() && steps.deploy.outcome == 'success'
        continue-on-error: true
        uses: luizfelipelaviola/get-package-info@v2

      - name: Notify Medrunner API
        if: success() && steps.deploy.outcome == 'success'
        continue-on-error: true
        uses: satak/webrequest-action@master
        with:
          url: https://api.medrunner.dev/automation/deploy?secret=${{ secrets.AUTOMATION_DEPLOY_DEV }}&client=1&version=${{ steps.package-info.outputs.version }}
          method: POST
